.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* background-color: black; */

    background-image: url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 600px;
    height: 400px;
    
    border-radius: 20px;
    box-shadow: rgba(5, 132, 236, 0.5) 0px 10px 36px 0px, rgba(5, 132, 236, 0.5) 0px 0px 0px 1px;
}

